body {
    font-family: sans-serif;
}
.h1_1{
    color: whitesmoke;
    font-family: sans-serif;
}
main img{
    width: 215px;
height: 215px;
flex-shrink: 0;
margin: 45px;
}
header{
    border: 10px solid #4288BA;
    background-color: #4288BA;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.asorti{
    color: #F00;
text-align: left;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
hr{
    width: 1168.007px;
    height: 20px;
background: #000;
}
main h1 {
text-align: center;
}
footer{
    color: white;
    border: 10px solid #3B11E4;
    background-color:#3B11E4 ;
    margin-top: 450px;
}
